Cython
sphinx
sphinx-intl
sphinx-gallery
sphinx-rtd-theme
tlcpack-sphinx-addon
autodocsumm
decorator
numpy
scipy
attrs
synr
psutil
pytest
six
matplotlib
torch
tensorflow
mxnet
onnx
keras
torchvision
tflite
coremltools
gluon
gluoncv
opencv-python
dgl
openpyxl

